
   .P-T{
       margin-top: 4%;
    color: white;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


.section2{
    margin-top: 5%;
    width: 100%;
    height: 700px;
    padding: 0% 4%;


.card{

    width: 63%;
    height: 480px;
    margin-left: 13%;
    border-radius: 25px;
    background-color: #4F4F4F;
    border: 1px solid rgb(187, 185, 185);

h5{
    color: white;
}

.card-text{
    margin-top: 10%;
    color: #E6901F;
}

    .ul-card{
        margin-top: 8%;
        li{
          margin-top: 3%;
            a{
                
                text-decoration: none;
                color: white;
            }
        }
    }

.button-2{
    margin-top: 10%;
    .B1{
        height: 30px;
        width: 44%;
        color: aliceblue;
        border: none;
        border: 1px solid #F14A16;
        border-radius: 15px;
        background-color: #4F4F4F;
        
    }

    .B2{
        height: 30px;
        width: 44%;
        color: aliceblue;
        border: none;
        border: 1px solid #F14A16;
        border-radius: 15px;
        background-color: #F14A16;
        margin-left: 4%;
    }
}


}


}
